html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}
.container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container > * {
  flex: 0 0 auto;
}
.container-flex {
  flex: 1 1 auto;
  overflow-y: scroll;
}
.bottombar {
  flex: 0 0 auto;
  padding: 15px;
  border-top: 1px grey solid;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container > button {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 120px;
  padding: 25px;
  font-size: 1.3em;
  font-weight: bold;
}
.menu {
  width: 100%;
  height: 35px;
  border-bottom: 1px grey solid;
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
li {
  flex: 0 0 auto;
  margin-right: 15px;
}
.filelist-container {
}
.filelist-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
}
.filelist-item > * {
  flex: 0 0 auto;
  margin-right: 5px;
}
.spring {
  flex: 1 1 auto;
}
.selected {
  background-color: Orange;
}
